:root {
    --white: #fff;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --danger: #dc3545;
    --warning: #ffc107;
    --info: #17a2f8;
    --dark: #343a40;
    --light: #f8f9fa;
}

/* text-color; */
.text-white {
    color: var(--white)
}

.text-primary {
    color: var(--primary)
}

.text-secondary {
    color: var(--secondary)
}

.text-success {
    color: var(--success)
}

.text-danger {
    color: var(--danger)
}

.text-warning {
    color: var(--warning)
}

.text-info {
    color: var(--info)
}

.text-dark {
    color: var(--dark)
}

.text-light {
    color: var(--light)
}

/* Bg color */
.bg-white {
    background-color: var(--white)
}

.bg-primary{
    background-color: var(--primary)
}

.bg-secondary {
    background-color: var(--secondary)
}

.bg-success{
    background-color: var(--success)
}

.bg-danger {
    background-color: var(--danger)
}

.bg-warning {
    background-color: var(--warning)
}

.bg-info {
    background-color: var(--info)
}

.bg-dark {
    background-color: var(--dark)
}

.bg-light {
    background-color: var(--light)
}

.btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
}

button:hover {
    opacity: 0.9
}

.btn-primary {
    color: var(--white);
    background-color: var(--primary)
}

.btn-secondary {
    color: var(--white);
    background-color: var(--secondary)
}


.btn-success {
    color: var(--white);
    background-color: var(--success)
}

.btn-danger {
    color: var(--white);
    background-color: var(--danger)
}


.btn-warning {
    color: var(--white);
    background-color: var(--warning)
}


.btn-info {
    color: var(--white);
    background-color: var(--info)
}


.btn-dark {
    color: var(--white);
    background-color: var(--dark)
}


.btn-light {
    color: var(--white);
    background-color: var(--light)
}

.btn-outline-primary {
    background: transparent;
    border: 1px solid var(--white);
    color: var(--white)
}


.btn-outline {
    background: transparent;
    border: 1px solid var(--primary);
    color: var(--dark)
}

.btn-outline-primary:hover {
    background: var(--primary);
    border: 1px solid var(--light);
    color: var(--dark);
}


.flex-items {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;

}

.flex-items>div {
    padding: 20px;
    flex-basis: 100%;
}

.flex-columns .row {
    display: flex;
    ;
    width: 100%;
}

/* Burada flex:1 dediğimizde biz ikisinede aynı genişliği vermiş oluyoruz. */
.flex-columns .column {
    flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
    height: 100%;
}

.column-2 {
    background-color: var(--dark);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 3rem;
}

.column-1 img {
    width: 100%;
    height: 100%;
}

.bg-primary-bg {
    background-color: var(--primary);
}

.flex-reverse .row {
    flex-direction: row-reverse;
}

.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem;
}

.section header h2 {
    font-size: 4rem;
    margin:2rem 0;
}

.section-padding  { display:flex;padding:2rem 2rem 4rem; }
.flex-grid .row{display:flex; padding:0 .4rem;   }

.flex-grid .column{flex:25%; }
.card-body{padding:10px;}
#teams{text-align: center;}
.section-padding{justify-content: center; align-content: center; text-align:center;}

@media(max-width:768px)
{   #galery .column{flex:50%;}
    .flex-grid .column{ flex:100%;}


.flex-items{flex-direction: column;}

.flex-items>div {
    padding: 10px;
    
}

.flex-columns .column {
    /* Bizburada telefon görünütüsünde alta alta olmaları için flex 100 100 dedik yani bir div buunduğu satırı tammamen kapsasın dedik. */
    flex:100% !important;  

}
}


.flex-columns .column {
    flex: 1;
}


.flex-columns.article .column:nth-child(add){

    flex:2;
}
.flex-columns.article .column:nth-child(even){

    flex:3;
}